﻿<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Angular TypeScript App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Angular 2">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />

    <!-- Scripts if using SystemJS (webpack is another option)-->
    <!-- Polyfill(s) for older browsers -->
    <script src="lib/shim.min.js"></script>
    <script src="lib/zone.js"></script>
    <script src="lib/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>

</head>
<body>
    <header class="navbar navbar-inner navbar-fixed-top">
        <nav class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="logo" src="images/codewithdanlogo.png" alt="logo" />
                <div>
                    <a href="/home" class="app-title">Angular/ASP.NET Core Seed Project</a>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer>
        <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            Created by <a href="http://twitter.com/DanWahlin" target="_blank">@@DanWahlin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <form asp-antiforgery="true"></form>


    <!--
        If using webpack and AOT comment out system.js
        scripts in head and add bundle scripts from webpack
        here.
    -->

</body>
</html>
