<h3>Source Field</h3>
<input type="text" class="form-control" [(ngModel)]="fieldModel" [ngbTypeahead]="fieldSearch" (blur)="loadPaths()" placeholder="Fields search" /><span *ngIf="_searching"> searching...</span>

<h3>Source Path</h3>
<input type="text" class="form-control" [(ngModel)]="pathsModel" (blur)="loadPaths()" />
<button (click)="onClickMe()">Search</button>

<h3>Found Paths for: {{mapping}}</h3>
<textarea rows="10" cols="150" [(ngModel)]="paths" readonly="readonly" ></textarea>

<!--A typeahead example that gets values from a static <code>string[]</code>
<ul>
  <li><code>debounceTime</code> operator</li>
  <li>kicks in only if 2+ characters typed</li>
  <li>limits to 10 results</li>
</ul>

<input type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" />
<hr>
<pre>Model: {{ model | json }}</pre>


A typeahead example that gets values from the <code>WikipediaService</code>
<ul>
  <li>remote data retrieval</li>
  <li><code>debounceTime</code> operator</li>
  <li><code>do</code> operator</li>
  <li><code>distinctUntilChanged</code> operator</li>
  <li><code>switchMap</code> operator</li>
</ul>

<input type="text" class="form-control" [(ngModel)]="wikiModel" [ngbTypeahead]="searchWiki" placeholder="Wikipedia search" /><span *ngIf="_searching"> searching...</span>
<hr>

<pre>Model: {{ wikiModel | json }}</pre>-->