<!--<code>
    <pre style="font-size: 10px;">{{(authState$ | async) | json}}</pre>
</code>-->
<header class="navbar navbar-light navbar-static-top">
    <nav class="navbar navbar-toggleable-md bg-faded">
        <button class="navbar-toggler navbar-toggler-right" [class.collapsed]="isCollapsed" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" (click)="toggleNav()" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" routerLink="home">Homing Missle Mapping Editor</a>

            <div class="collapse navbar-collapse" id="navbarNav" [class.show]="!isCollapsed">
                <!--Left nav-->
                <div class="navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="home">{{'APP_NAV_HOME' | translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="poc">POC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" routerLink="examples">{{'APP_NAV_EXAMPLES' | translate}}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <div ngbDropdown class="d-inline-block">
                                <a class="nav-link" id="languages" ngbDropdownToggle>{{currentLanguage.description}}</a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languages">
                                    <button *ngFor="let lang of languages" (click)="setLang(lang)" class="dropdown-item">
                                        {{lang.description}}
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--Right nav-->
                <div class="navbar-collapse justify-content-md-end">
                    <ul class="navbar-nav">

                        <li class="nav-item" *ngIf="(authState$ | async)?.loggedIn">
                            <a class="nav-link" routerLinkActive="active" routerLink="profile">
                                <i class="fa fa-user"></i> {{(authState$ | async)?.profile.name}}
                            </a>
                        </li>

                        <li class="nav-item" *ngIf="!(authState$ | async)?.loggedIn">
                            <a class="nav-link" routerLinkActive="active" routerLink="register">
                                <i class="fa fa-user"></i> {{'APP_NAV_REGISTER' | translate}}
                            </a>
                        </li>

                        <li class="nav-item" *ngIf="!(authState$ | async)?.loggedIn">
                            <a class="nav-link" routerLinkActive="active" routerLink="login">
                                <i class="fa fa-sign-in"></i>{{'APP_NAV_LOGIN' | translate}}
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="(authState$ | async)?.loggedIn && (authState$ | async)?.profile.role.indexOf('Admin') > -1">
                            <a class="nav-link" routerLinkActive="active" routerLink="admin">
                                <i class="fa fa-gear"></i> {{'APP_NAV_ADMIN' | translate}}
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="(authState$ | async)?.loggedIn">
                            <a class="nav-link" (click)="accountService.logout()" routerLinkActive="active" href="javascript:void(null);">
                                <i class="fa fa-sign-out"></i> {{'APP_NAV_LOGOUT' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

    </nav>
</header>